/**** Large Screens *****************************************************************************************************/

@media (min-width: 1151px) {
  /* Remove Small (mobile) elements from Larger screen */
  .imgS {
    display: none;
  }

  .introS__subsection {
    display: none;
  }

  .headerS {
    display: none;
  }

  .services__subtitle-period {
    display: none;
  }
}

/**** Medium Screens Only ************************************************************************************************/


@media (max-width: 1500px) and (min-width: 1151px) {
  .intro__subsection {
    width: 100%;
  }
}

@media (max-width: 1300px) and (min-width: 1151px) {
  .services__dots-container {
    max-width: 60%;
  }
}

@media (max-width: 1150px) and (min-width: 801px) {
  .logo__img {
    max-width: 200px;
  }

  .title__img {
    margin-left: 0;
    max-width: 500px;
  }

  /**** Intro Medium Screens Only ****/
  .introS__subsection {
    width: 100%;
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 10rem;
  }

  .introS__img {
    top: 6em;
    max-width: 350px;
  }

  .aboutS__subsection {
    padding-bottom: 1rem;
  }

  .textS1 {
    position: relative;
    top: -1em;
    margin-left: 20em;
  }

  /**** Header Medium Screens Only ****/
  .headerS {
    top: 12em;
    width: 100%;
    margin: 0;
    /* left: 5em; */
    /* right: 45%; */
    /* top: 2em; */
    /* max-width: 50%; */
    /* text-align: right; */
    /* margin-left: -4em; */
  }

  .nav__listS {
    justify-content: center;
    padding: 0;
  }

  .nav__itemS {
    flex-direction: column;
  }

  .nav__linkS {
    display: flex;
    justify-content: center;
    /* align-self: flex-end; */
    /* padding-top: 1.3rem;
    padding-right: 1.3rem;
    padding-bottom: 1.3rem; */
    top: 0.1rem;
    width: 150px;
    padding-top: 1.5rem;
    font-size: 1.3em;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .linkS1 {
    margin-right: 5rem;
  }

  .slide1 {
    animation: none;
  }

  .slide2 {
    animation: none;
  }

  /* .itemS1 {
    margin-bottom: 1rem;
  }

  .linkS1 {
    padding-left: 2rem;
    margin-left: 2rem;
  }

  .linkS2 {
    padding-left: 5.3rem;
    margin-left: 2rem;
  } */

  /* Fills gap between about text box and header */
  .nav__underitemS {
    /* width: 100px;
    margin-left: -10em;
    padding: 1.3rem; */
    width: 150px;
    padding-bottom: 2rem;
  }

  /**** Services Medium Screens Only ****/
  .services__dots-container {
    max-width: 70%;
  }

  .services__subtitle-container {
    max-width: 50%;
  }
}

/**** L-Medium/Small Screens **********************************************************************************************/

@media (max-width: 1500px) {
  /**** Services L-Medium/Small Section****/
  .services {
    width: 100%;
    background-position: center;
  }

  .services__subsection {
    width: 100%;
  }

  .subsection__service-text {
    flex-direction: column;
  }

  .service__miditem {
    margin-top: 4rem;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 4rem;
  }
  /**** Info L-Medium/Small Section****/
  .info {
    width: 100%;
  }

  .info__step {
    top: 1.1rem;
  }
}

/**** SM-Medium/Small Screens **********************************************************************************************/

@media (max-width: 1150px) {
  /* Remove intro section on smaller screens */
  .intro__subsection {
    display: none;
  }

  /**** General Medium/Small Section****/
  #top-anchor {
    right: 10px;
    padding-top: 10px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 10px;
    font-size: var(--fs-body);
  }

  #top-anchor:hover {
    transform: none;
    opacity: 0.8;
  }

  .bg__imgs {
    max-width: 100%;
  }

  .title__div {
    width: 100%;
  }

  .dots-S {
    max-width: 11px;
    height: 0.7rem;
    font-size: 0.7em;
  }

  /**** Divider Banners Mobile Section ****/
  .div__banner-subsection {
    max-width: 100%;
  }

  .div__banner {
    height: 15px;
  }

  .div__banner-center {
    justify-content: space-around;
    max-width: 100%;
  }

  .blue-banner--center {
    width: 90px;
    height: 10px;
  }

  /**** Intro Medium/Small Section ****/
  .introS__subsection {
    position: relative;
    background-image: url(../images/bg-intro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .img-headerS__subsection {
    position: relative;
    display: flex;
  }

  .introS__img {
    position: relative;
    width: 100%;
    height: auto;
    box-shadow: var(--bs);
    z-index: 10;
  }

  .aboutS__subsection {
    position: relative;
    top: -2em;
    padding-top: 4rem;
    color: var(--clr-light);
    background: var(--clr-dark);
    box-shadow: var(--bs);
    z-index: 1;
  }

  .aboutS__text {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }

  /**** Header Medium/Small Section ****/
  .headerS {
    position: relative;
    /* top: 2em; */
    width: 100%;
    /* max-width: 50%; */
    /* text-align: right; */
    /* margin-left: -4em; */
  }

  .nav__listS {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    list-style: none;
  }

  .nav__itemS {
    display: flex;
  }

  .nav__linkS {
    position: relative;
    /* align-self: flex-end; */
    /* padding-top: 1.3rem;
    padding-right: 1.3rem;
    padding-bottom: 1.3rem; */
    background: var(--clr-accent);
    font-family: var(--ff-title);
    font-size: 1.3em;
    font-weight: var(--fw-bold);
    /* border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; */
    color: var(--clr-dark);
    text-decoration: none;
    z-index: 4;
  }

  /* .itemS1 {
    margin-bottom: 1rem;
  }

  .linkS1 {
    padding-left: 2rem;
    margin-left: 2rem;
  }

  .linkS2 {
    padding-left: 5.3rem;
    margin-left: 2rem;
  } */

  /* Fills gap between about text box and header */
  .nav__underitemS {
    position: relative;
    /* width: 100px;
    margin-left: -10em;
    padding: 1.3rem; */
    top: 0;
    background: var(--clr-accent);
  }
  

  /**** Services Medium/Small Section ****/
  /* .services {
    width: 100%;
    background-image: url(../images/bg-services.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  } */

  /* .services__subsection {
    width: 100%;
    background-image: none;
  } */

  .services__subtitle {
    text-align: justify;
  }

  .services__bracket {
    font-size: 5em;
    font-weight: lighter;
  }

  .service__text {
    border-top: 2px solid var(--clr-accent);
    border-bottom: 2px solid var(--clr-accent);
    box-shadow: none;
  }

  /**** Info Medium/Small section ****/

  .info__dots-container {
    width: 80%;
  }

  .blue-info--dot {
    top: 1rem;
  }

  .info__step {
    /* top: 1rem; */
    padding: 1rem;
  }

  .info__text {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  /**** Footer Medium/Small Section ****/
  .footer {
    margin-top: 0;
  }
}

/**** L-Small Screens **************************************************************************************************/

@media (max-width: 999px) {
  
}

/**** M-Small Screens **************************************************************************************************/

@media (max-width: 800px) {
  .logo__img {
    max-width: 100px;
  }

  .title__img {
    margin-left: 0;
    max-width: 200px;
  }

  /**** Intro Mobile Section ****/

  .introS__img {
    max-width: 50%;
  }

  .introS__subsection {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
  /* .introS__subsection {
    padding-top: 3rem;
    padding-bottom: 3rem;
  } */

  /* .introS__img {
    position: relative;
    width: 100%;
    max-width: 50%;
    height: auto;
    box-shadow: var(--bs);
    z-index: 10;
  } */

  /* .aboutS__subsection {
    position: relative;
    margin-top: -3em;
    padding-top: 4rem;
    color: var(--clr-light);
    background: var(--clr-dark);
    box-shadow: var(--bs);
    z-index: 1;
  }

  .aboutS__text {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
  } */

  /**** Header for Mobile ****/
  .headerS {
    top: 0em;
    margin-left: -4em;
    max-width: 50%;
    text-align: right;
  }

  .nav__listS {
    flex-direction: column;
  }
    
  .nav__linkS {
    align-self: flex-end;
    padding-top: 0.7rem;
    padding-right: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 1em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .itemS1 {
    margin-bottom: 1rem;
  }

  .linkS1 {
    padding-left: 2rem;
    margin-left: 2rem;
  }

  .linkS2 {
    padding-left: 5.3rem;
    margin-left: 2rem;
  }

  /* Fills gap between about text box and header */
  .nav__underitemS {
    position: relative;
    width: 100px;
    margin-left: -10em;
    padding: 1.3rem;
    top: 0;
    background: var(--clr-accent);
    z-index: 3;
  }
  
  /* Fills gap between about text box and header */
  .nav__underitemS {
    top: 0;
    /* margin-left: -10em; */
    padding: 0.7rem;
  }

  .linkS1 {
    padding-left: 0.5rem;
  }

  .linkS2 {
    padding-left: 2.7rem;
  }

  /* .itemS1 {
      margin-bottom: 1rem;
    }
    
    .linkS1 {
      padding-left: .5rem;
      margin-left: 2rem;
    }
    
    .linkS2 {
      padding-left: 2rem;
      margin-left: 2rem;
    } */

  /**** Services Mobile Section ****/
  /* .services__dots-container {
    justify-content: center;
    max-width: 200px;
  } */

  .services__dots-container {
    max-width: 100%;
  }

  .services__subtitle {
    max-width: 300px;
    /* text-align: justify; */
  }

  /* .services__bracket {
    font-size: 4em;
    font-weight: lighter;
  } */

  .info__step {
    top: 1rem;
  }
}

/**** Extra Small Screens **********************************************************************************************/

@media (max-width: 300px) {
  .logo__img {
    max-width: 80px;
  }
}
